.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .ask-question-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
