<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="darkwoolf_catalog" frontName="darkwoolf-catalog">
            <module name="Darkwoolf_CatalogProductAdditionalTab" />
        </route>
    </router>
</config>