@font-face {
    font-family: 'Gotham-regular';
    src: url('../fonts/Gotham-font/Gotham-regular.eot');
    src: url('../fonts/Gotham-font/Gotham-regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-font/Gotham-regular.woff') format('woff'), url('../fonts/Gotham-font/Gotham-regular.ttf') format('truetype'), url('../fonts/Gotham-font/Gotham-regular.svg#Gotham-regular') format('svg');
    font-weight: 300;
    font-style: normal;
}
