& when (@media-common = true) {
    .banner-box {
        position: relative;

        p > img {
            width:100%;
        }

        a.action.primary {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .custom-widget-content {
        text-align: center;
    }
}
