<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Darkwoolf_AskQuestion::content_question"
             title="Questions"
             translate="title"
             module="Magento_Backend"
             sortOrder="30"
             parent="Magento_Backend::content"
             resource="Darkwoolf_EditProductPage::greetings"/>
        <add id="Darkwoolf_AskQuestion::askquestion_grid"
             title="Ask Question Grid"
             translate="title"
             module="Darkwoolf_AskQuestion"
             sortOrder="60"
             parent="Darkwoolf_AskQuestion::content_question"
             action="askquestiongrid/question/index"
             resource="Darkwoolf_AskQuestion::askquestion_grid"/>
    </menu>
</config>
