<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Darkwoolf\AskQuestion\Model\ResourceModel\Question\Grid\CollectionVirtual"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">darkwoolf_ask_question</argument>
            <argument name="resourceModel" xsi:type="string">Darkwoolf\AskQuestion\Model\ResourceModel\Question</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="question_listing_data_source" xsi:type="string">Darkwoolf\AskQuestion\Model\ResourceModel\Question\Grid\CollectionVirtual</item>
            </argument>
        </arguments>
    </type>
</config>
